<ion-header>
  
    <ion-navbar>
      <ion-title>Set Todo</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content>
  
    <table align="center" id="tableID" border="1">
      
            <th>
                <br>
                <tr *ngFor="let schedule of schedules_sun">
                   <button>{{schedule.time}}
                  </button>
                </tr>
              </th>
      
          <th>일
            <tr *ngFor="let schedule of schedules_sun">
               <button [ngClass]="{buttonBackground: schedule.value != false}" (click)="seclectbutton(schedule)">
                {{schedule.date}}
                <br>{{schedule.value}}
      
              </button>
            </tr>
          </th>
      
          <th>월
            <tr *ngFor="let schedule of schedules_mon">
               <button [ngClass]="{buttonBackground: schedule.value != false}" (click)="seclectbutton(schedule)">
                {{schedule.date}}
                <br>{{schedule.value}}
              </button>
            </tr>
          </th>
      
          <th>화
            <tr *ngFor="let schedule of schedules_tue">
               <button [ngClass]="{buttonBackground: schedule.value != false}" (click)="seclectbutton(schedule)">
                {{schedule.date}}
                <br>{{schedule.value}}
              </button>
            </tr>
          </th>
      
          <th>수
            <tr *ngFor="let schedule of schedules_wed">
               <button [ngClass]="{buttonBackground: schedule.value != false}" (click)="seclectbutton(schedule)">
                {{schedule.date}}
                <br>{{schedule.value}}
              </button>
            </tr>
          </th>
      
          <th>목
            <tr *ngFor="let schedule of schedules_thu">
               <button [ngClass]="{buttonBackground: schedule.value != false}" (click)="seclectbutton(schedule)">
                {{schedule.date}}
                <br>{{schedule.value}}
              </button>
            </tr>
          </th>
      
          <th>금
            <tr *ngFor="let schedule of schedules_fri">
               <button [ngClass]="{buttonBackground: schedule.value != false}" (click)="seclectbutton(schedule)">
                {{schedule.date}}
                <br>{{schedule.value}}
              </button>
            </tr>
          </th>
      
          <th>토
            <tr *ngFor="let schedule of schedules_sat">
               <button [ngClass]="{buttonBackground: schedule.value != false}" (click)="seclectbutton(schedule)">
                {{schedule.date}}
                <br>{{schedule.value}}
              </button>
            </tr>
          </th>
        </table>
      
        <button ion-button (click)="addSchedule()"> 수정완료 </button>
  </ion-content>