<ion-header>
  <ion-navbar>
    <ion-title>
      {{meetingTitle}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p *ngFor="let mInfo of meetingInfo |async">
    {{mInfo.place}}<br> {{mInfo.dateTime}}
  </p>
  <ion-list>
    
    <ion-item *ngFor="let mtMem of mtMemList" (click)="attendanceCheck(mtMem)">

      <!--<ion-avatar item-start *ngIf="mtMem.LatLonDiff.lat<=0.03&&mtMem.LatLonDiff.lon<=0.03">
        <img src="../../assets/imgs/smile.png">
      </ion-avatar>
      <ion-avatar item-start *ngIf="mtMem.LatLonDiff.lat>0.03||mtMem.LatLonDiff.lon>0.03">
        <img src="../../assets/imgs/emptyCircle.png">
      </ion-avatar>-->
      {{mtMem.name}}

    </ion-item>
  </ion-list>
  <button ion-button color="primary" (click)="goEditMeetingInfoPage()">장소,시간 수정</button>
  <button ion-button color="primary" (click)="goEditMeetingRulePage()">규칙 설정</button>
  <button ion-button color="primary" (click)="removeMember()">멤버 삭제</button>
</ion-content>