page-matching-time {

    .buttonBackground { 
        background-color: yellow;
        color: yellow;
     }
     .cannotMeeting{
         color: #DFDDDD;
     }
     .selectButton{
        background-color:green;
        color: green;
     }
}
